<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts del blog</title>
</head>
<body>
    {% for post in posts %}
        <h2><a href="/posts/{{post.slug}}">{{post.title}}</a></h2>
        <!-- el truncate es para que el lenght de ese texto sea de maximo ese numero que le indicamos-->
        <p>{{post.body | truncate(lenght=15)}}</p>
    {% endfor %}
</body> 
</html>